.froze {
    padding: 90px 0;
    position: relative;

    @media (max-width: 680px) {
        padding: 30px 0;
    }
}

.froze::before {
    position: absolute;
    z-index: -1;
    content: "";

    width: 95%;
    height: 220px;

    right: 0;
    height: 200px;

    background: var(--page-bg-blue);
    border-radius: 20px 0 0 20px;
}

.froze__wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: end;
    align-items: center;

    @media (max-width: 659px) {
        grid-template-columns: repeat(1, auto);
    }
}

.froze__content {
    padding: 50px;
    color: var(--text-white);

    @media (max-width: 659px) {
        padding: 20px;

        text-align: center;
    }
}

.froze__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);
    border-radius: 30px;
    width: 195px;
    height: 60px;

    margin-left: auto;

    @media (max-width: 659px) {
        width: 171px;
        height: 51px;
        margin: 0 auto;
    }
}
.froze__btn:hover {
    background: opasity 0.5;
}

.froze__btn-link {
    padding: 10px 20px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 700;

    @media (max-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 650px) {
        padding: 10px 15px;
        font-size: 15px;
    }
}
