.froze {
    padding: 90px 0;
}

.froze__wrapper {
    background: var(--page-bg-blue);
    height: 200px;
    border-radius: 20px 0 0 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.froze__content {
    padding: 50px;
    color: var(--text-white);
}

.froze__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);

    padding: 20px 40px;
    border-radius: 30px;
}
.froze__btn-link {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 700;
}
