.header {
    padding: 20px 0;
}

.header__logo {
    max-width: 180px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 30px;

    &-link {
        color: #232323;
        font-size: 16px;
        line-height: 1.55;
        font-weight: 500;
    }

    &-link:hover {
        color: var(--accent);
    }
}

.tel {
    color: #232323;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    padding: 15px 15px;
    border-radius: 30px;
    background-position: center center;
    border-color: #232323;
    border: 1px solid #232323;
}

.tel:hover {
    border: 1px solid var(--accent);
    color: var(--accent);
}

.header__content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f7f7f7;

    display: flex;
    align-items: center;
    gap: 50px;

    &-descr {
        max-width: 650px;
    }

    &-text {
        font-size: 18px;
        line-height: 1.55;
        font-weight: 400;

        margin: 40px 0;
    }

    &-work {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;

        &__line {
            width: 2px;
            height: 70px;
            background-color: var(--text-color);
        }

        &__progress {
            color: #000000;

            h3 {
                font-size: 36px;
                line-height: 1.55;
                font-weight: 700;
            }

            p {
                font-size: 16px;
                line-height: 1.55;
                font-weight: 400;
            }
        }
    }
}
