.stages {
    padding: 50px 0;
    position: relative;
}

.stages::before {
    position: absolute;
    content: "";
    background-color: black;

    width: 90%;
    height: 1px;

    left: 0;
    bottom: 254px;

    @media (max-width: 1000px) {
        bottom: 241px;
    }

    @media (max-width: 680px) {
        bottom: 214px;

        width: 70%;
        height: 2px;
    }
}

.stages::after {
    position: absolute;
    content: "";

    background-color: black;

    top: 272px;
    right: 0;

    width: 90%;
    height: 1px;

    @media (max-width: 1000px) {
        top: 246px;
    }

    @media (max-width: 824px) {
        top: 234px;
    }

    @media (max-width: 713px) {
        top: 277px;
    }

    @media (max-width: 680px) {
        width: 70%;
        height: 2px;
    }
}

.stages__wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 100px;

    @media (max-width: 1000px) {
        gap: 86px;
    }
}

.stages__title {
    max-width: 850px;
}

.stages__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 70px;

    @media (max-width: 1000px) {
        gap: 60px;
    }

    @media (max-width: 902px) {
        grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 680px) {
        grid-template-columns: repeat(1, auto);
    }
}

.stages__list-item {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    gap: 30px;

    position: relative;

    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;

    &__text {
        font-size: 20px;
        font-weight: 400;

        @media (max-width: 1000px) {
            font-size: 18px;
        }
    }

    &__number {
        font-size: 50px;
        font-weight: 400;

        @media (max-width: 1000px) {
            font-size: 45px;
        }
    }
}

.stages__list-item::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    border-radius: 50px;
    background-color: #ff9900;

    width: 20px;
    height: 20px;
    z-index: 1;
}
