:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: "Noto Sans", sans-serif;

	--page-bg: #f7f7f7;
	--text-color: #232323;
	--text-muted: #909090;
	--accent: rgb(255, 153, 0);
	--text-white: #fff;
	--page-bg-blue: #305478;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
